@model ProductsMVC.Models.Product

@{
    ViewData["Title"] = "Delete";
}

<div class="mt-4 text-center">
    <a asp-action="Index">Modify products</a> &#62; <a asp-action="ProductDetails" asp-route-id="@Model.Id">@Model.ProductName</a> &#62; <a asp-action="Edit" asp-route-id="@Model.Id">Edit @Model.ProductName</a> &#62;  <span class="text-gray-500">Delete @Model.ProductName</span>
</div>

<h3 class="text-2xl font-bold mt-4 text-center">Are you sure you want to delete this?</h3>
    
    <form asp-action="Delete" class="flex justify-center mt-8">
        <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" class="px-10 py-2 border-1 border-darker-red rounded font-bold text-lg text-darker-red hover:bg-darker-red hover:text-white transition-all duration-150 ease-out" />
    </form>
