@model ProductsMVC.Models.Product

@{
    ViewData["Title"] = "Product Details";
}


<div class="mt-10 text-center">
    <a asp-action="Index">Home</a> &#62; <span class="text-gray-500">@Model.ProductName</span>
</div>

<div class="flex space-x-36 justify-center mt-4">
    <img src=@Model.ImageUrl alt="Alternate Text" class="w-[500px] rounded-3 aspect-square" />
    <div class="max-w-lg">
        <h1 class="text-2xl font-bold">@Model.ProductName</h1>
        <p class="text-gray-500 font-light">@Model.ProductDescription</p>
        <p class="my-3 text-lg font-medium">For R @Model.ProductPrice</p>
        <p class="text-gray-400">@Model.Stock Remaining</p>
    </div>
</div>
